<script>
    import Navbar from "../components/info-onepager/Navbar.svelte";
    import Banner from "../components/info-onepager/Banner.svelte";
    import Features from "../components/info-onepager/Features.svelte";
    import Roadmap from "../components/info-onepager/Roadmap.svelte";
    import Products from "../components/info-onepager/Products.svelte";
    import Testimonials from "../components/info-onepager/Testimonials.svelte";
    import Contact from "../components/info-onepager/Contact.svelte";
    import Footers from "../components/general/Footers.svelte";
    import DATA from "./_data";

</script>

<!--Navbar-->
<Navbar navlist="{DATA.NAVBAR_DATA}" header="{DATA.HEADER}" signup="{DATA.SIGNUP_BUTTON}" ></Navbar>

<!--Banner-->
<Banner></Banner>

<!--Features-->
<Features></Features>

<!--Roadmap-->
<Roadmap></Roadmap>

<!--Products-->
<Products></Products>

<!--Testimonials-->
<Testimonials></Testimonials>

<!--Contact-->
<Contact></Contact>

<!--Footer-->
<Footers></Footers>