<!------------------------------------------->
<!----------------SCRIPT--------------------->
<!------------------------------------------->
<script>
    export let navlist = [];
    export let header;
    export let signup;
</script>


<!------------------------------------------->
<!----------------MARKUP--------------------->
<!------------------------------------------->
<section id="nav-bar">
    <nav>
        <div class="header">
            <a class="header" href="/">
                {header}
            </a>
        </div>
        <div class="nav-list">
            <ul>
                {#each navlist as list}
                    <li>
                        <a class="nav-item" href={list.url}>{list.label}</a>
                    </li>
                {/each}
                <li>
                    <button>{signup}</button>
                </li>
            </ul>
        </div>
    </nav>
</section>


<!------------------------------------------->
<!-----------------STYLE--------------------->
<!------------------------------------------->
<style>
    #nav-bar {
        width: 100%;
        height: 75px;
        background: #FFFFFF 0 0 no-repeat padding-box;
    }

    div.header {
        float: left;
    }
    div.nav-list {
        float: right;
    }
    li {
        display: block;
        float: left;
    }
    a {
        display: block;
        text-decoration: none;
    }
    a.header {
        padding: 0.25em 0.5em;

        text-transform: uppercase;
        font: bold 1.875em Century Gothic, sans-serif;
        color: #1F60EF;
    }
    a.nav-item {
        margin: 0em 1em 0em 1em;
        padding: 0em 0.5em;

        text-transform: lowercase;
        font: lighter 1.25em/1.5em Century Gothic, sans-serif;
        color: #949FA6;
    }
    button {
        width: 200px;
        margin: 0em 1em 0em 1em;
        padding: 0em 0.5em;

        background: #FFA800 0% 0% no-repeat padding-box;
        border: none;
        border-radius: 1.6875em;

        text-transform: lowercase;
        font: lighter 1.25em/1.5em Century Gothic, sans-serif;
        color: #FFFFFF;
    }
</style>

